:root {
    --dark-gray: #334155;
    --med-gray: #acbbd1;
    --light-gray: #e2e8f0;
    --light-text: #f4f4f5;
    --dark-text: #1e1e22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

#content {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-area: header;
    padding: 1rem;
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

#sidebar {
    grid-area: sidebar;
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    background-color: var(--med-gray);
    color: var(--dark-text);
}

#sidebar > button {
    text-align: left;
    padding: .5rem;
    border-style: none;
    border-radius: .35rem;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: transparent;
    color: var(--dark-text);
}

#sidebar > button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.199);
}


#mainContainer {
    grid-area: main;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    color: var(--dark-text);
}

#mainContainer > button {
    padding: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: .5rem;
    border-style: none;
}

#mainContainer > button:hover {
    cursor: pointer;
    background-color: #5498ff37;
}

.task {
    padding: .5rem;
    border-style: none;
    border-radius: .5rem;
    background-color: var(--light-text);
    display: flex;
    flex-direction: column;
}

.task  h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.titleContainer p {
    font-size: .85rem;
}

.task  button {
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
}

.task  button:hover {
    background-color:  rgba(255, 127, 127, 0.346);
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #bababa !important;
}

#mainContainer > form {
    padding: .5rem;
    border-style: none;
    border-radius: .5rem;
    background-color: var(--light-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainContainer input {
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
}

#mainContainer label {
    font-size: .85rem;
}

#mainContainer h3:hover {
    cursor: pointer;
}

#taskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
}

#taskForm li {
    list-style: none;
    margin: .5rem;
}

#taskTitleInput {
    width: 25rem;
}

#taskForm textArea {
    height: 5rem;
    width: 25rem;
    padding: .5rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.titleContainer {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.buttonContainer {
    display: flex;
    gap: .5rem;
}
